app-assets
externals
.env
images
node_modules
**/lib/*
jstree
src
downloads
uploads
file-uploads
**/downloads/*
package-lock.json
.fake
.ionide
.history
.history/**/*
.vscode
newrelic_agent.log
coverage
.nyc_output
src/certificates
debug.log
tsconfig.json
tslint.json